
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Warframe</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="https://www.warframe.com/ru">Official</a></li>
            <li><a href="https://warframe.market/ru">Маркет</a></li>
            <li>
                <a href="https://warframe.fandom.com/ru">Варфрейм</a>
                <ul>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>
                    <li><a href="https://warframe.fandom.com/ru">Варфрейм</a></li>

                </ul>
            </li>
        </ul>
    </nav>
    <div>
        <video class="video" autoplay loop>
            <source src="~/Video/Warframe%20-%20Official%20Cinematic%20Opening%20Trailer.mp4" type="video/mp4" />
        </video>
    </div>
</body>
</html>
