
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/Server/Post" method="post">
            <input type="text" name="massege" />
            <input type="submit" value="Отправить" />
        </form>
    </div>
</body>
</html>
