
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <title>Чертов_сайт</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/Home/Index">Главная</a></li>
            <li><a href="https://music.youtube.com/">Музыка</a></li>
            <li><a href="https://yandex.ru/">Поиск</a></li>
            <li><a href="https://www.youtube.com/watch?v=79IghS6mlac">Список авторов</a></li>
            <li><a href="https://www.extrememusic.com/">Спонсоры</a></li>
        </ul>
    </nav>

    <div>

    </div>
</body>
</html>
