
@{
    ViewData["Title"] = "PersonalAccount";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Warframe.Аккаунт</title>
</head>
<body>
    <div id="mainContent">
        <div id="newsIndex">

        </div>
    </div>
    <div id="footer">
        <div class="footerContain row">
            <div class="footerlinkSection two colums">
                <h4>Личный каинет</h4>
                <ul>
                    <li>
                        <p> Личный кабинет </p>
                    </li>
                    <li>
                        <p> hjkghkhgjkghjkgjkjgkhgjkhgkghjkghkjkhjkhjkhj</p>
                    </li>
                </ul>
            </div>
            <div class="footerlinkSection tooltip colums">
            </div>
            <div class="info">
                <input id="info__body_1" class="info__switch" type="checkbox">
                <label for="info__body_1" class="info__headline">Примечание</label>
                <div class="info__body">
                    Это ваш личный кабинет.
                </div>
            </div>
        </div>
    </div>

</body>
</html>

