html {
    background-image: url('../KAPTINKI/Vfu7F862AhM.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bukavi {
    font-family: 'Comic Sans MS';
    color: #ffffff;
    font-size: 20px;
}

.Bg {
    background-image: url('../KAPTINKI/daft-punk-helmets-shlemy.jpg');
    background-attachment: fixed;
}

nav {
    width: 960px;
    margin: 0 auto;
}

    nav:before {
        content: '';
        display: block;
        height: 50px;
        width: 100%;
        background: #87CEFA;
        position: absolute;
        left: 0;
        z-index: -1;
        opacity: 0.75;
    }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}

    ul li {
        float: left;
    }

        ul li a {
            color: #fff;
            display: block;
            height: 50px;
            padding: 0 30px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 50px;
            font-family: 'Comic Sans MS';
        }

            ul li a:hover {
                background: #87CEFA;
            }
