
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Warframe.Главная</title>
</head>
<body>
    <div style="background-color:whitesmoke;color:white;padding:20px;opacity: .9;">
        <p style="color:black">Главная страница магазина</p>
        <div class="info">
            <input id="info__body_1" class="info__switch" type="checkbox">
            <label for="info__body_1" class="info__headline">Примечание</label>
            <div class="info__body">
                <p style="color:black">
                    В нашем магазине можно найти информацию о разных товарах и ее цены. На данной странице нет ничего кроме списка страниц
                    контактной информации в нижнем куске страницы.
                </p>
                <p style="color:black">
                    Контакный номер - "*8(800)555-35-35"
                </p>
            </div>
        </div>
    </div>
</body>
</html>


