
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Warframe.Аккаунт</title>
</head>
<body>
    <div style="background-color:whitesmoke;color:white;padding:20px;opacity: .9;">
        <form id="register" method="post" style="height:200px; width:200px">
            <input type="text" name="filter" placeholder="Логин" /> <br />
            <input type="text" name="filter" placeholder="Пароль" /> <br />
            <input type="submit" value="Отфильтровать" />
            <nav>
                <ul>
                    <li>
                        <p>Забыли пароль?</p>
                    </li>
                </ul>
            </nav>

        </form>
    </div>
    <div id="mainContent">
        <div id="newsIndex">
        </div>
    </div>
</body>
</html>

