
@{
    ViewBag.Title = "OrderRegistation";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Warframe.Аккаунт</title>
</head>
<body>
    <div style="background-color:whitesmoke;color:white;padding:20px;opacity: .9;">
        <form id="register" method="post" style="height:200px; width:200px">
            <input type="submit" value="оформить заказ" />
        </form>
    </div>
    <div id="mainContent">
        <div id="newsIndex">
        </div>
    </div>
</body>
</html>
